go 1.21.0

use (
	./fizzbuzz
	./generation_hello
	./hello_world
	./iota
	./pointers
	./bufio_usage
	./test_slices
	./is_ascii
	./two_sum
	./struct_to_json
	./wrappers
	./figures
	./test_defer
	./stopwatch
	./logger
	./io_reader
	./io_writer
	./reflect_usage
	./validate_string
	./panic_usage
	./summarizer
)
